<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ManagerMapper">
	<select id="getmemberList" resultType="com.java.member.dto.MemberDto">
		select * from member order by member_id asc
	</select>
	
	<delete id="memberDelete" parameterType="String">
		delete from member where member_id=#{id}
	</delete>
	
	<delete id="delLog" parameterType="String">
		insert into MANAGER_LOG values(manager_log_seq.nextval,'lucyman@nate.com',SYSDATE,'0001',#{id})
	</delete>
	
	<select id="getSearchMemberList" parameterType="String" resultType="com.java.member.dto.MemberDto">
		select * from member where member_name like '%'||#{member_name}||'%' order by member_name asc						
	</select> 
	
	<select id="getSearchMemberType" parameterType="String" resultType="com.java.member.dto.MemberDto">
		select * from member where member_jointype=#{member_jointype} order by member_name asc
	</select>
	
	<select id="getManagerList" resultType="com.java.manager.dto.ManagerDto">
		select * from manager
	</select>
	
	<select id="getManagerLog" parameterType="String" resultType="com.java.manager.dto.ManagerLogDto" >
		select log_no, manager_id, log_date,
		       (select d_name
		          from DETAIL_CODE
		         where h_code='0003'
		           and d_code=log_code) log_code,
		       log_content
		  from MANAGER_LOG
		 where manager_id=#{id}
		 order by log_no DESC
	</select>
	
	<select id="getPartnerList" resultType="com.java.partner.dto.PartnerDto">
		select * from partner order by partner_name desc
	</select>

	<select id="getSearchPartnerList" parameterType="String" resultType="com.java.partner.dto.PartnerDto">
		select * from partner where partner_name like '%'||#{partner_name}||'%' order by partner_name asc
						
	</select>
	
	<select id="getSearchPartnerYN" parameterType="String" resultType="com.java.partner.dto.PartnerDto">
		select * from partner where partner_yn=#{partner_yn} order by partner_name desc
	</select>	
	
	<update id="partnerSubmit" parameterType="String">
		update PARTNER SET partner_yn='Y', partner_ydate=sysdate where member_id=#{id}
	</update>
	
	<insert id="submitLog" parameterType="String">
		insert into manager_log values(manager_log_seq.nextval,'lucyman@nate.com',SYSDATE,'0002',#{id})
	</insert>
	
	<delete id="partnerDelete" parameterType="String">
		delete from partner where member_id=#{id}
	</delete>
	
	<insert id="partnerDeleteLog" parameterType="String">
		insert into manager_log values(manager_log_seq.nextval,'lucyman@nate.com',sysdate,'0003',#{id})
	</insert>
	
	<select id="partnerDetail" parameterType="Integer" resultType="com.java.partner.dto.PartnerDto">
		select * from partner where partner_no=#{partnerNo}
	</select>
	
	<select id="getCouponData" resultType="java.util.HashMap">
		select * from COUPON c, PARTNER p where c.partner_no = p.partner_no
	</select>
	
	<update id="couponSubmit" parameterType="Integer">
		update coupon set coupon_yn='Y' where coupon_no=#{couponNo}
	</update>
	
	<insert id="couponSubmitLog" parameterType="Integer">
		insert into manager_log values(manager_log_seq.nextval, 'lucyman@nate.com', sysdate, '0004', #{couponNo})
	</insert>
	
	<update id="couponCancle" parameterType="Integer">
		update coupon set coupon_yn='N' where coupon_no=#{couponNo}
	</update>
	
	<insert id="couponCancleLog" parameterType="Integer">
		insert into manager_log values(manager_log_seq.nextval, 'lucyman@nate.com', sysdate, '0005', #{couponNo})
	</insert>
	
	<select id="couponDetail" parameterType="Integer" resultType="java.util.HashMap">
		select * from COUPON c, PARTNER p where c.partner_no = p.partner_no and c.coupon_no=#{couponNo}
	</select>
	
	<select id="couponSearch" parameterType="String" resultType="java.util.HashMap">
		select * from COUPON c, PARTNER p where c.partner_no = p.partner_no and p.partner_name like '%'||#{partner_name}||'%'		
	</select>
	
	<select id="searchCouponYN" parameterType="String" resultType="java.util.HashMap">
		select * from COUPON c, PARTNER p where c.partner_no = p.partner_no and c.coupon_yn=#{coupon_yn}		
	</select>
	
</mapper> 