<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ManagerMapper">
	<select id="getmemberList" resultType="com.java.member.dto.MemberDto">
		select m.member_id, m.member_pwd, m.member_name, m.member_joindate, 
                    (select d_name 
                       from DETAIL_CODE 
                     where h_code='0001'
                       and d_code=member_jointype) member_jointype, 
                  NVL(SUM(p.point_value),0) member_point 
         from MEMBER m, POINT_INFO p where m.member_id = p.member_id(+) 
         group by m.member_id, m.member_pwd, m.member_name,  m.member_joindate, member_jointype
	</select>
	
	<update id="memberDelete" parameterType="java.util.HashMap">	
		update MEMBER SET member_name=null, member_pwd=null, member_jointype='0003', member_point=0 where member_id=#{member}
	</update>
	
	<delete id="delLog" parameterType="java.util.HashMap">
		insert into MANAGER_LOG values(manager_log_seq.nextval,#{manager},SYSDATE,'0001',#{member})
	</delete>
	
	<select id="getSearchMemberList" parameterType="String" resultType="com.java.member.dto.MemberDto">
		select * from member where member_name like '%'||#{member_name}||'%' order by member_name asc						
	</select> 
	
	<select id="getSearchMemberType" parameterType="String" resultType="com.java.member.dto.MemberDto">
		select * from member where member_jointype=#{member_jointype} order by member_name asc
	</select>
	
	<select id="getManagerList" resultType="com.java.manager.dto.ManagerDto">
		select * from manager
	</select>
	
	<select id="getManagerLog" parameterType="String" resultType="com.java.manager.dto.ManagerLogDto" >
		select log_no, manager_id, log_date,
		       (select d_name
		          from DETAIL_CODE
		         where h_code='0003'
		           and d_code=log_code) log_code,
		       log_content
		  from MANAGER_LOG
		 where manager_id=#{id}
		 order by log_no DESC
	</select>
	
	<select id="getPartnerList" resultType="com.java.partner.dto.PartnerDto">
		select * from partner order by partner_no desc
	</select>

	<select id="getSearchPartnerList" parameterType="String" resultType="com.java.partner.dto.PartnerDto">
		select * from partner where partner_name like '%'||#{partner_name}||'%' order by partner_no desc
						
	</select>
	
	<select id="getSearchPartnerYN" parameterType="String" resultType="com.java.partner.dto.PartnerDto">
		select * from partner where partner_yn=#{partner_yn} order by partner_no desc
	</select>	
	
	<update id="partnerSubmit" parameterType="Integer">
		update PARTNER SET partner_yn='Y', partner_ydate=SYSDATE where partner_no=#{partnerNo}
	</update>
	
	<insert id="submitLog" parameterType="java.util.HashMap">
		insert into manager_log values(manager_log_seq.nextval,#{manager},SYSDATE,'0002',#{partnerNo})
	</insert>
	
	<delete id="partnerDelete" parameterType="Integer">
		delete from partner where partner_no=#{partnerNo}
	</delete>
	
	<insert id="partnerDeleteLog" parameterType="java.util.HashMap">
		insert into manager_log values(manager_log_seq.nextval,#{manager},SYSDATE,'0003',#{partnerNo})
	</insert>
	
	<select id="partnerDetail" parameterType="Integer" resultType="com.java.partner.dto.PartnerDto">
		select * from partner where partner_no=#{partnerNo}
	</select>
	
	<select id="getCouponData" resultType="java.util.HashMap">
		select * from COUPON c, PARTNER p where c.partner_no = p.partner_no
	</select>
	
	<update id="couponSubmit" parameterType="Integer">
		update coupon set coupon_yn='Y' where coupon_no=#{couponNo}
	</update>
	
	<insert id="couponSubmitLog" parameterType="java.util.HashMap">
		insert into manager_log values(manager_log_seq.nextval, #{manager}, sysdate, '0004', #{couponNo})
	</insert>
	
	<update id="couponCancle" parameterType="Integer">
		update coupon set coupon_yn='N' where coupon_no=#{couponNo}
	</update>
	
	<insert id="couponCancleLog" parameterType="java.util.HashMap">
		insert into manager_log values(manager_log_seq.nextval, #{manager}, sysdate, '0005', #{couponNo})
	</insert>
	
	<select id="couponDetail" parameterType="Integer" resultType="java.util.HashMap">
		select * from COUPON c, PARTNER p where c.partner_no = p.partner_no and c.coupon_no=#{couponNo}
	</select>
	
	<select id="couponSearch" parameterType="String" resultType="java.util.HashMap">
		select * from COUPON c, PARTNER p where c.partner_no = p.partner_no and p.partner_name like '%'||#{partner_name}||'%'		
	</select>
	
	<select id="searchCouponYN" parameterType="String" resultType="java.util.HashMap">
		select * from COUPON c, PARTNER p where c.partner_no = p.partner_no and c.coupon_yn=#{coupon_yn}		
	</select>
	
</mapper> 