@CHARSET "UTF-8";
#blogRead_carousel{
	height:250px;
	width:auto;
}

#blogRead_carousel img{
	height:250px;
	width:auto;
	display:block;
	margin:auto;
}

#carousel-example-generic h4{
	color:gray;	
}

#carousel-example-generic li{
	color:red;
}