<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BoardMapper">
	<select id="getData" resultType="String">
		select category_sname
		  from category
		 where category_code='200300'
	</select>
	
	<select id="getHeaderCondition" resultType="String">
		select distinct category_mname
		  from category
		 order by 1
	</select>
	
	<insert id="blogWrite" parameterType="java.util.HashMap">
		insert into board(board_no,member_id,category_code,board_title,board_rgdate,board_content,board_grade,board_count) values(BOARD_BOARD_NO_SEQ.nextval,#{member_id},(select category_code from category where category_mname=#{boardreadDto.category_mname} and category_sname like #{boardreadDto.category_sname}),#{boardDto.board_title},current_date,#{boardDto.board_content},#{boardDto.board_grade},0)
	<selectKey keyProperty="board_no" resultType="int" order="AFTER">
		select BOARD_BOARD_NO_SEQ.currval from dual
	</selectKey>	
	</insert>
		
	<insert id="blogWrite_addr" parameterType="java.util.HashMap">
		insert into board_addr_info values(#{board_no},#{board_addr_infoDto.addr_sido},#{board_addr_infoDto.addr_sigugun},#{board_addr_infoDto.addr_dongri},#{board_addr_infoDto.addr_bunji},#{board_addr_infoDto.addr_title})
	</insert>
	
	<insert id="blogWrite_point" parameterType="java.util.HashMap">
		insert into point_info values(point_info_point_no_seq.nextval,#{member_id},#{board_no},(select board_rgdate from board where board_no=#{board_no}),10)
	</insert>
	
	<insert id="blogWrite_attach" parameterType="java.util.HashMap">
		insert into attach_file (file_no, board_no, file_type, file_name, file_size, file_path, file_comment)
		select ATTACH_FILE_FILE_NO_SEQ.nextval, A.*
		from 
		<foreach collection="attachList" item="item" open="(" close=")" separator=" union all ">
		select #{board_no} board_no,0 file_type,#{item.file_name} file_name,
		#{item.file_size} file_size,#{item.file_path} file_path,#{item.file_comment} file_comment
		from dual
		</foreach> A
	</insert> 
	
	<select id="coupon_data_list" parameterType="Integer" resultType="java.util.HashMap">
		select * from coupon c, (select * from partner where partner_addr=(select rtrim(addr_sido||' '||addr_sigugun||' '||addr_dongri||' '||addr_bunji) from board_addr_info where board_no=#{board_no}) and partner_yn='Y')a where a.partner_no=c.partner_no and c.coupon_yn='Y' and current_date between c.coupon_bymd and c.coupon_eymd
	</select>
	
	<insert id="insertCouponIssue" parameterType="java.util.HashMap">
		insert into coupon_issue values(COUPON_ISSUE_COUPON_NO_SEQ.nextval,#{coupon_no},#{member_id},current_date)
	</insert>
	
	<select id="checkCoupon" parameterType="java.util.HashMap" resultType="String">
		select member_id from coupon_issue where member_id=#{member_id} and coupon_no=#{coupon_no}
	</select>
</mapper>