<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.CouponMapper">
	

	<select id="couponCount" resultType="int">
		select count(*) from coupon
	</select>
	
	<select id="couponList_L" parameterType="String" resultType="java.util.HashMap">
		<![CDATA[
			select * from coupon c,
			   (select partner_no, member_id, partner_name from partner where member_id=#{member_id}) p
			        where c.partner_no = p.partner_no
			            and coupon_discount = '50' and coupon_yn='N'      
			                order by coupon_discount desc
		]]>
	</select>
	
	<select id="couponList_S" parameterType="String" resultType="java.util.HashMap">
		<![CDATA[	
			select * from coupon c,
			   (select partner_no, member_id, partner_name from partner where member_id=#{member_id}) p
			        where c.partner_no = p.partner_no
			            and coupon_discount < '50' and coupon_yn='Y'      
			                order by coupon_discount desc
		]]>
	</select>
	
	<insert id="couponRegister" parameterType="com.java.coupon.dto.CouponDto">
        insert into coupon(coupon_no,partner_no,coupon_item,coupon_discount,coupon_bymd,coupon_eymd,coupon_pic_name,coupon_pic_path,coupon_pic_size,coupon_yn) values(coupon_coupon_no_seq.nextval,#{partner_no},#{coupon_item},#{coupon_discount},#{coupon_bymd},#{coupon_eymd},#{coupon_pic_name},#{coupon_pic_path},#{coupon_pic_size},'N')
   </insert>
</mapper>
