/* 팝업창이 보여질 부분 */
#popup, #popup2, .bMulti {
    background-color: #fff;
    color: #111;
    display: none;
    min-width: 450px;
    padding: 25px;
}

#popup, .bMulti {
    min-height: 250px;
}
/* 클릭할 버튼 */
.button {
    background-color: #2b91af;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}
/* 닫기 버튼 */
.button.b-close, .button.bClose {
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
}