/**
 * blogMap.jsp Modal css
 */
$('.modal').on('hidden.bs.modal', function( event ) {
	$(this).removeClass( 'fv-modal-stack' );
	$('body').data( 'fv_open_modals', $('body').data( 'fv_open_modals' ) - 1 );
});

$( '.modal' ).on( 'shown.bs.modal', function ( event ) {
	 // keep track of the number of open modals
	 if ( typeof( $('body').data( 'fv_open_modals' ) ) == 'undefined' ){
	   $('body').data( 'fv_open_modals', 0 );
	 }
                  
	 // if the z-index of this modal has been set, ignore.
                       
	if ( $(this).hasClass( 'fv-modal-stack' ) ){
		return;
	}
                  
	$(this).addClass( 'fv-modal-stack' );
	
	$('body').data( 'fv_open_modals', $('body').data( 'fv_open_modals' ) + 1 );
	
	$(this).css('z-index', 1040 + (10 * $('body').data( 'fv_open_modals' )));
	
	$( '.modal-backdrop' ).not( '.fv-modal-stack' ).css( 'z-index', 1039 + (10 * $('body').data( 'fv_open_modals' )));
	
	$( '.modal-backdrop' ).not( 'fv-modal-stack' ).addClass( 'fv-modal-stack' );
});

/**
 * blogMap.jsp Metro style dynamic Tiles css
 */

@CHARSET "UTF-8";

.dynamicTile .col-sm-2.col-xs-4{
    padding:5px;
}

.dynamicTile .col-sm-4.col-xs-8{
    padding:5px;
}

#tile1{
    background: rgb(0,172,238);
}

#tile2{
    background: rgb(243,243,243);
}

#tile3{
    background: rgb(71,193,228);
}

#tile4{
    background-image: url('http://handsontek.net/demoimages/tiles/facebook.png');
    background-size: cover;
}

#tile5{
    background: rgb(175,26,63);
}

#tile6{
    background: rgb(62,157,215);
}

#tile7{
    background: white;
}

#tile8{
    background: rgb(209,70,37);
}

#tile9{
    background: rgb(0,142,0);
}

#tile10{
    background: rgb(0,93,233);
}

.tilecaption{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%); 
    margin:0!important;
    text-align: center;
    color:white;
    font-family: Segoe UI;
    font-weight: lighter;
}